In [9]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

**Read December 24 data into Dataframe**

In [23]:
# # Read december 24 provider data from excel and create a dataframe called as dec_24_provider
# dec_24_provider = pd.read_excel('../FL_mental_health_providers/data/EHR_GEHRIMED_C4631G6561_2024-12-31_Facility and Provider GDR Report_Monthly.xlsx' , sheet_name='Provider MTD')
# dec_24_provider

,Unnamed: 0,Provider Name,Assessment and plan for trauma,Assessment and plan for pain,Pt is at baseline No GDR,Attempted GDR,Failed GDR,Unstable requiring no med changes,Pt Unstable Requiring Med Changes,Ordered labs,...,Total Pysch Meds Decreased,Changed diagnosis,Referred patient to,Initiated prior authorization,Summary of session and goals,Decision making,Total Difference In Psych Meds,Initiated Baker Act,Initiated 1 1 sitter,Removed 1 1 sitter
0,NaN,"Albertie Young, Erika",7,0,0,0,0,0,0,0,...,0,0,0,0,224,0,0,0,0,0
1,NaN,"Allen, Juline",0,0,0,0,0,0,0,0,...,0,0,0,0,59,0,0,0,0,0
2,NaN,"Anglero, Antonio",93,0,0,0,0,0,0,0,...,0,0,0,0,222,0,0,0,0,0
3,NaN,"Arroyo-Munoz, Heidi",23,0,0,0,0,0,0,0,...,0,0,0,0,317,0,0,0,0,0
4,NaN,"Ascencios, Carolyn",40,0,0,0,0,0,0,0,...,0,18,9,0,40,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,"Wiggins, Tamesha",50,0,0,0,0,0,0,0,...,0,0,0,0,277,0,0,0,0,0
139,NaN,"Wilbur, Heather",45,44,172,45,0,5,60,11,...,37,32,0,0,0,8,1,0,0,0
140,NaN,"Wilder, Sharmaine",15,0,0,0,0,0,0,0,...,0,0,0,0,189,0,0,0,0,0
141,NaN,"Zhirnova, Yulia",124,122,258,24,0,42,122,32,...,40,21,10,0,0,2,48,0,0,1
142,NaN,Total,8608,5182,21270,1758,45,3307,5968,911,...,2025,1113,1113,34,9814,429,-368,34,29,58

In [19]:
# # define a function to randomize Provider Name values
# def randomize_values(col_values):
#     col_values_list = list(col_values) # convert string to list
#     random.shuffle(col_values_list)
#     return ''.join(col_values_list) # convert list back to string

In [25]:
# # apply the function to the Provider Name
# column_to_randomize = 'Provider Name'
# dec_24_provider[column_to_randomize] = dec_24_provider[column_to_randomize].apply(randomize_values)
# dec_24_provider

,Unnamed: 0,Provider Name,Assessment and plan for trauma,Assessment and plan for pain,Pt is at baseline No GDR,Attempted GDR,Failed GDR,Unstable requiring no med changes,Pt Unstable Requiring Med Changes,Ordered labs,...,Total Pysch Meds Decreased,Changed diagnosis,Referred patient to,Initiated prior authorization,Summary of session and goals,Decision making,Total Difference In Psych Meds,Initiated Baker Act,Initiated 1 1 sitter,Removed 1 1 sitter
0,NaN,"bEAgernYii ,rutlokae",7,0,0,0,0,0,0,0,...,0,0,0,0,224,0,0,0,0,0
1,NaN,"ne,niAe luJll",0,0,0,0,0,0,0,0,...,0,0,0,0,59,0,0,0,0,0
2,NaN,"nionoAleonrt, gA",93,0,0,0,0,0,0,0,...,0,0,0,0,222,0,0,0,0,0
3,NaN,"oey,dir zu-iMronAHo",23,0,0,0,0,0,0,0,...,0,0,0,0,317,0,0,0,0,0
4,NaN,"Acnsralci ooe,syCn",40,0,0,0,0,0,0,0,...,0,18,9,0,40,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,"gT hsesW,iginama",50,0,0,0,0,0,0,0,...,0,0,0,0,277,0,0,0,0,0
139,NaN,"turbiWhHe,ae rl",45,44,172,45,0,5,60,11,...,37,32,0,0,0,8,1,0,0,0
140,NaN,"haeiramrS,edinlW",15,0,0,0,0,0,0,0,...,0,0,0,0,189,0,0,0,0,0
141,NaN,"noY Zrlauav,ihi",124,122,258,24,0,42,122,32,...,40,21,10,0,0,2,48,0,0,1
142,NaN,otTal,8608,5182,21270,1758,45,3307,5968,911,...,2025,1113,1113,34,9814,429,-368,34,29,58

In [37]:
# Read Ten years Florida provider report from excel and create a dataframe called as ten_year_report
ten_year_report = pd.read_excel('../FL_mental_health_providers/data/TenYrsReport.xlsx', skiprows=2)
ten_year_report

,County,Count,Rate,Count.1,Rate.1,Count.2,Rate.2,Count.3,Rate.3,Count.4,...,Count.5,Rate.5,Count.6,Rate.6,Count.7,Rate.7,Count.8,Rate.8,Count.9,Rate.9
0,Florida,30213,133.2,29121,130.4,27174,123.5,25340,117.1,23453,...,21916,104.6,20542,99.9,NaN,NaN,NaN,NaN,NaN,NaN
1,Alachua,713,244.6,722,248.4,676,245.4,644,238.2,638,...,598,226.7,590,227.5,NaN,NaN,NaN,NaN,NaN,NaN
2,Baker,21,75.6,20,68.5,18,62.5,18,63.0,15,...,16,58.2,15,55.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Bay,245,130.4,232,128.3,194,109.7,186,105.8,188,...,169,92.7,179,100.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Bradford,19,71.2,17,61.1,15,52.0,14,48.6,11,...,9,32.0,5,18.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Volusia,706,121.2,666,116.1,569,100.9,533,97.5,516,...,480,90.1,470,89.5,NaN,NaN,NaN,NaN,NaN,NaN
65,Wakulla,37,102.7,37,105.6,31,89.0,28,83.8,26,...,23,71.1,22,68.5,NaN,NaN,NaN,NaN,NaN,NaN
66,Walton,84,102.5,90,111.2,73,92.0,71,97.9,62,...,56,82.4,49,74.6,NaN,NaN,NaN,NaN,NaN,NaN
67,Washington,16,61.8,16,64.1,16,62.7,14,55.4,12,...,11,43.6,9,36.1,NaN,NaN,NaN,NaN,NaN,NaN
68,Unknown,27,NaN,30,NaN,1884,NaN,1937,NaN,1066,...,1404,NaN,506,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
ten_year_report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   County   69 non-null     object
 1   Count    69 non-null     int64
 2   Rate     68 non-null     float64
 3   Count.1  69 non-null     int64
 4   Rate.1   68 non-null     float64
 5   Count.2  69 non-null     int64
 6   Rate.2   68 non-null     float64
 7   Count.3  69 non-null     int64
 8   Rate.3   68 non-null     float64
 9   Count.4  69 non-null     int64
 10  Rate.4   68 non-null     float64
 11  Count.5  69 non-null     int64
 12  Rate.5   68 non-null     float64
 13  Count.6  69 non-null     int64
 14  Rate.6   68 non-null     float64
 15  Count.7  0 non-null      float64
 16  Rate.7   0 non-null      float64
 17  Count.8  0 non-null      float64
 18  Rate.8   0 non-null      float64
 19  Count.9  0 non-null      float64
 20  Rate.9   0 non-null      float64
dtypes: float64(13), int64(7), object(1)
memory usage: 11.4+ KB

In [ ]:
# Rename appropriate column names of ten_year_report dataframe 
#ten_year_report.columns = ['County',