In [1]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import random
import os

**Create a function that brings in all the excel files and then append all the excels together to create one master dataframe**

In [3]:
# fetch the current working directory
cwd = os.getcwd()
# select the data folder to fetch excel files
path = cwd + "\\data" 
# list all the file names present in the path
files = os.listdir(path)
files

['EHR_GEHRIMED_C4631G6561_2024-01-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-02-29_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-03-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-04-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-05-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-06-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-07-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-08-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-09-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-10-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-11-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-12-31_Facility and Provider GDR Report_Monthly.xlsx',
 'FL-Data_22_23-.xlsx',
 'FL_provider_report.csv',
 'Notes.txt',
 'Provider_data_2024.csv',
 'Provider_data_2024_CheckMaskedNames.csv',
 'TenYrsReport.xlsx',
 'ten_year_report.csv']

In [4]:
# Retrieve only monthly excel files 
files_xls = [f for f in files if f[-12:] == 'Monthly.xlsx']
files_xls

['EHR_GEHRIMED_C4631G6561_2024-01-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-02-29_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-03-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-04-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-05-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-06-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-07-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-08-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-09-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-10-31_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-11-30_Facility and Provider GDR Report_Monthly.xlsx',
 'EHR_GEHRIMED_C4631G6561_2024-12-31_Facility and Provider GDR Report_Monthly.xlsx']

In [60]:
# check what is the result of file path
for f in files_xls:
    file_path = '../FL_mental_health_providers/data/' + f 
file_path # result = '../FL_mental_health_providers/data/EHR_GEHRIMED_C4631G6561_2024-12-31_Facility and Provider GDR Report_Monthly.xlsx'

'../FL_mental_health_providers/data/EHR_GEHRIMED_C4631G6561_2024-12-31_Facility and Provider GDR Report_Monthly.xlsx'

In [96]:
# loop over list of monthly excel files to append to empty dataframe
data_list = []
for f in files_xls:
    data = pd.read_excel('../FL_mental_health_providers/data/' + f, 'Provider MTD')
    data.insert(0, "year-month", f.split('_')[3][:7] , True)
    data_list.append(data)

In [98]:
# Copy the data from list to dataframe and create a master dataset for provider information
df_provider_2024 = pd.concat(data_list)

In [100]:
# display the values of master dataframe df_provider_2024
df_provider_2024

,year-month,Unnamed: 0,Provider Name,Assessment and plan for trauma,Assessment and plan for pain,Pt is at baseline No GDR,Attempted GDR,Failed GDR,Unstable requiring no med changes,Pt Unstable Requiring Med Changes,...,Total Pysch Meds Decreased,Changed diagnosis,Referred patient to,Initiated prior authorization,Summary of session and goals,Decision making,Total Difference In Psych Meds,Initiated Baker Act,Initiated 1 1 sitter,Removed 1 1 sitter
0,2024-01,NaN,"Albertie Young, Erika",10,0,0,0,0,0,0,...,0,0,1,0,280,0,0,0,0,0
1,2024-01,NaN,"Althafer, Brett",4,0,0,0,0,0,0,...,0,0,0,0,147,0,0,0,0,0
2,2024-01,NaN,"Anglero, Antonio",105,0,0,0,0,0,0,...,0,0,0,0,231,0,0,0,0,0
3,2024-01,NaN,"Arroyo-Munoz, Heidi",20,0,0,0,0,0,0,...,0,0,0,0,300,0,0,0,0,0
4,2024-01,NaN,"Ascencios, Carolyn",1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,2024-12,NaN,"Wiggins, Tamesha",50,0,0,0,0,0,0,...,0,0,0,0,277,0,0,0,0,0
139,2024-12,NaN,"Wilbur, Heather",45,44,172,45,0,5,60,...,37,32,0,0,0,8,1,0,0,0
140,2024-12,NaN,"Wilder, Sharmaine",15,0,0,0,0,0,0,...,0,0,0,0,189,0,0,0,0,0
141,2024-12,NaN,"Zhirnova, Yulia",124,122,258,24,0,42,122,...,40,21,10,0,0,2,48,0,0,1
142,2024-12,NaN,Total,8608,5182,21270,1758,45,3307,5968,...,2025,1113,1113,34,9814,429,-368,34,29,58

In [102]:
df_provider_2024['year-month'].value_counts()

year-month
2024-12    143
2024-09    134
2024-10    134
2024-11    134
2024-08    126
2024-05    116
2024-07    116
2024-06    114
2024-04    111
2024-03    106
2024-02    104
2024-01    101
Name: count, dtype: int64

In [9]:
# # This function assigns the sequential ids to unique names - to be used in masking the data.
# def assign_ids(df, column_name):
#     unique_names = df[column_name].unique() # Get the unique values of 'column_name' column
#     name_to_id = {name: i for i, name in enumerate(unique_names)}
#     df['Provider masked name'] = df[column_name].map(name_to_id)
#     return df

**Create a new column "New Provider Name" which will hold the masked provider names and place it as 2nd column of dataframe**

In [11]:
# Create an array with unique values of provider name column
unique_names = df_provider_2024['Provider Name'].unique() 
# loop over to create unique masked ids
name_to_id = {name: i for i, name in enumerate(unique_names)}

In [ ]:
# # map and assign newly created id in new column of dataframe
# df_provider_2024['Provider masked name'] = df_provider_2024['Provider Name'].map(name_to_id)

In [12]:
# Using insert() to add a new column at position 1 (2nd column) and assign newly created ids by mapping the values to it
df_provider_2024.insert(1, "New Provider Name", df_provider_2024['Provider Name'].map(name_to_id) , True)

In [13]:
# prefix 'Provider' string to the value of masked column
#df_provider_2024['Provider masked name'] = 'Provider-' + df_provider_2024['Provider masked name'].astype(str)
df_provider_2024['New Provider Name'] = 'Provider-' + df_provider_2024['New Provider Name'].astype(str)

In [14]:
#df_provider_2024 = assign_ids(df_provider_2024, 'Provider Name')
df_provider_2024

,Unnamed: 0,New Provider Name,Provider Name,Assessment and plan for trauma,Assessment and plan for pain,Pt is at baseline No GDR,Attempted GDR,Failed GDR,Unstable requiring no med changes,Pt Unstable Requiring Med Changes,...,Total Pysch Meds Decreased,Changed diagnosis,Referred patient to,Initiated prior authorization,Summary of session and goals,Decision making,Total Difference In Psych Meds,Initiated Baker Act,Initiated 1 1 sitter,Removed 1 1 sitter
0,NaN,Provider-0,"Albertie Young, Erika",10,0,0,0,0,0,0,...,0,0,1,0,280,0,0,0,0,0
1,NaN,Provider-1,"Althafer, Brett",4,0,0,0,0,0,0,...,0,0,0,0,147,0,0,0,0,0
2,NaN,Provider-2,"Anglero, Antonio",105,0,0,0,0,0,0,...,0,0,0,0,231,0,0,0,0,0
3,NaN,Provider-3,"Arroyo-Munoz, Heidi",20,0,0,0,0,0,0,...,0,0,0,0,300,0,0,0,0,0
4,NaN,Provider-4,"Ascencios, Carolyn",1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,Provider-97,"Wiggins, Tamesha",50,0,0,0,0,0,0,...,0,0,0,0,277,0,0,0,0,0
139,NaN,Provider-149,"Wilbur, Heather",45,44,172,45,0,5,60,...,37,32,0,0,0,8,1,0,0,0
140,NaN,Provider-150,"Wilder, Sharmaine",15,0,0,0,0,0,0,...,0,0,0,0,189,0,0,0,0,0
141,NaN,Provider-99,"Zhirnova, Yulia",124,122,258,24,0,42,122,...,40,21,10,0,0,2,48,0,0,1
142,NaN,Provider-100,Total,8608,5182,21270,1758,45,3307,5968,...,2025,1113,1113,34,9814,429,-368,34,29,58

In [15]:
# Drop the sensitive column with provider name
df_provider_2024 = df_provider_2024.drop('Provider Name',axis=1)
df_provider_2024

,Unnamed: 0,New Provider Name,Assessment and plan for trauma,Assessment and plan for pain,Pt is at baseline No GDR,Attempted GDR,Failed GDR,Unstable requiring no med changes,Pt Unstable Requiring Med Changes,Ordered labs,...,Total Pysch Meds Decreased,Changed diagnosis,Referred patient to,Initiated prior authorization,Summary of session and goals,Decision making,Total Difference In Psych Meds,Initiated Baker Act,Initiated 1 1 sitter,Removed 1 1 sitter
0,NaN,Provider-0,10,0,0,0,0,0,0,0,...,0,0,1,0,280,0,0,0,0,0
1,NaN,Provider-1,4,0,0,0,0,0,0,0,...,0,0,0,0,147,0,0,0,0,0
2,NaN,Provider-2,105,0,0,0,0,0,0,0,...,0,0,0,0,231,0,0,0,0,0
3,NaN,Provider-3,20,0,0,0,0,0,0,0,...,0,0,0,0,300,0,0,0,0,0
4,NaN,Provider-4,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,Provider-97,50,0,0,0,0,0,0,0,...,0,0,0,0,277,0,0,0,0,0
139,NaN,Provider-149,45,44,172,45,0,5,60,11,...,37,32,0,0,0,8,1,0,0,0
140,NaN,Provider-150,15,0,0,0,0,0,0,0,...,0,0,0,0,189,0,0,0,0,0
141,NaN,Provider-99,124,122,258,24,0,42,122,32,...,40,21,10,0,0,2,48,0,0,1
142,NaN,Provider-100,8608,5182,21270,1758,45,3307,5968,911,...,2025,1113,1113,34,9814,429,-368,34,29,58

**Save the newly converted file**

In [17]:
# fetch the current working directory
cwd = os.getcwd() 
# select the dashboard folder to save the csv file
path = cwd + "\\dashboard" 
# define the file name for csv
filename = 'Provider_data_2024.csv'
# Create the full file path
csv_path = os.path.join(path, filename)
# convert the DataFrame to CSV file and save it in given path
df_provider_2024.to_csv(csv_path, index=False)

**Create a data frame for Yearly report of Florida mental health provider data countywise from year 16-17 to year 22-23**

In [19]:
# Read Ten years Florida provider report from excel and create a dataframe called as ten_year_report
ten_year_report = pd.read_excel('../FL_mental_health_providers/data/TenYrsReport.xlsx', skiprows=2)
ten_year_report

,County,Count,Rate,Count.1,Rate.1,Count.2,Rate.2,Count.3,Rate.3,Count.4,...,Count.5,Rate.5,Count.6,Rate.6,Count.7,Rate.7,Count.8,Rate.8,Count.9,Rate.9
0,Florida,30213,133.2,29121,130.4,27174,123.5,25340,117.1,23453,...,21916,104.6,20542,99.9,NaN,NaN,NaN,NaN,NaN,NaN
1,Alachua,713,244.6,722,248.4,676,245.4,644,238.2,638,...,598,226.7,590,227.5,NaN,NaN,NaN,NaN,NaN,NaN
2,Baker,21,75.6,20,68.5,18,62.5,18,63.0,15,...,16,58.2,15,55.4,NaN,NaN,NaN,NaN,NaN,NaN
3,Bay,245,130.4,232,128.3,194,109.7,186,105.8,188,...,169,92.7,179,100.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Bradford,19,71.2,17,61.1,15,52.0,14,48.6,11,...,9,32.0,5,18.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Volusia,706,121.2,666,116.1,569,100.9,533,97.5,516,...,480,90.1,470,89.5,NaN,NaN,NaN,NaN,NaN,NaN
65,Wakulla,37,102.7,37,105.6,31,89.0,28,83.8,26,...,23,71.1,22,68.5,NaN,NaN,NaN,NaN,NaN,NaN
66,Walton,84,102.5,90,111.2,73,92.0,71,97.9,62,...,56,82.4,49,74.6,NaN,NaN,NaN,NaN,NaN,NaN
67,Washington,16,61.8,16,64.1,16,62.7,14,55.4,12,...,11,43.6,9,36.1,NaN,NaN,NaN,NaN,NaN,NaN
68,Unknown,27,NaN,30,NaN,1884,NaN,1937,NaN,1066,...,1404,NaN,506,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#ten_year_report.info()

In [21]:
# Drop the count and blank columns
ten_year_report = ten_year_report.drop(columns=['Count','Count.1','Count.2','Count.3','Count.4','Count.5','Count.6','Count.7','Rate.7','Count.8','Rate.8','Count.9','Rate.9'], axis=1)#,'Unnamed: 21','Unnamed: 22'], axis=1)
#ten_year_report

In [22]:
# Rename appropriate column names of ten_year_report dataframe 
ten_year_report.columns = ['County','FY_22_23','FY_21_22','FY_20_21','FY_19_20','FY_18_19','FY_17_18','FY_16_17']
#ten_year_report

In [23]:
# Reorder columns from the year 16-17 to year 22-23
ten_year_report = ten_year_report.reindex(columns=['County','FY_16_17','FY_17_18','FY_18_19','FY_19_20','FY_20_21','FY_21_22','FY_22_23'])
#ten_year_report = ten_year_report.reindex(columns={'County':'County','Rate.6':'FY_16_17', 'Rate.5': 'FY_17_18', 'Rate.4': 'FY_18_19','Rate.3':'FY_19_20','Rate.2':'FY_20_21','Rate.1':'FY_21_22','Rate':'FY_22_23'})
ten_year_report

,County,FY_16_17,FY_17_18,FY_18_19,FY_19_20,FY_20_21,FY_21_22,FY_22_23
0,Florida,99.9,104.6,110.3,117.1,123.5,130.4,133.2
1,Alachua,227.5,226.7,239.3,238.2,245.4,248.4,244.6
2,Baker,55.4,58.2,53.4,63.0,62.5,68.5,75.6
3,Bay,100.0,92.7,104.5,105.8,109.7,128.3,130.4
4,Bradford,18.0,32.0,38.7,48.6,52.0,61.1,71.2
...,...,...,...,...,...,...,...,...
64,Volusia,89.5,90.1,95.6,97.5,100.9,116.1,121.2
65,Wakulla,68.5,71.1,80.2,83.8,89.0,105.6,102.7
66,Walton,74.6,82.4,88.1,97.9,92.0,111.2,102.5
67,Washington,36.1,43.6,47.3,55.4,62.7,64.1,61.8
68,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Convert the year labels into a dataframe column named "Year"
ten_year_report = ten_year_report.melt(id_vars=["County"]
        , var_name="Year")
        #, value_name="Rate")
ten_year_report

         County      Year  value
0       Florida  FY_16_17   99.9
1       Alachua  FY_16_17  227.5
2         Baker  FY_16_17   55.4
3           Bay  FY_16_17  100.0
4      Bradford  FY_16_17   18.0
..          ...       ...    ...
478     Volusia  FY_22_23  121.2
479     Wakulla  FY_22_23  102.7
480      Walton  FY_22_23  102.5
481  Washington  FY_22_23   61.8
482     Unknown  FY_22_23    NaN

[483 rows x 3 columns]

**Save newly converted yearly report for dashboard**

In [26]:
# fetch the current working directory
cwd = os.getcwd() 
# select the dashboard folder to save the csv file
path = cwd + "\\dashboard" 
# define the file name for csv
filename = 'FL_yearly_report.csv'
# Create the full file path
csv_path = os.path.join(path, filename)

In [27]:
# convert the DataFrame to CSV file and save it in given path
ten_year_report.to_csv(csv_path, index=False)